body{
    background-color: #edefee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style: none;
    text-align: center;
    height: 8vh;
}

nav li{
    height: 48px;
    width: 80px;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

nav ul li a{
    display: block;
    margin-top: 25%;
    color: #000;
    font-size: 24px;
    font-weight: 680;
}

nav ul li a:hover{
    color: #c2a11c;
}

section{
    display: flex;
}

article{
    flex: 1;
    border-radius: 12px;
    padding: 15px;
}

#promotion{
    background-image: url(https://github.com/thepratham05/restaurant-landing-page/blob/master/pasta.jpeg)
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    align-items: center;
}

footer div{
    flex: 1;
    padding: 10px;
}

footer div p{
    text-align: right;
}